<%= form_for [@payment] do |form| %>
  
  <%= form.label :amount %>
  <%= form.text_field :amount %>
  <br>
  <%= form.submit 'Submit' %>
  
<% end %>

<p>Navigation:</p>
<p><%= link_to "Home", root_path %></p>
<p><%= link_to "Users", users_path %></p>
<p><%= link_to "Payments History", payments_path %></p>