<br>
<%= form_for [@event, @payment] do |form| %>
  
  <% if @payment.errors.any? %>
    <% @payment.errors.full_messages.each do |msg| %>
      <div data-alert class="alert-box secondary">
        <%= msg %>
        <a href="#" class="close">&times;</a>
      </div>
    <% end %>
  <% end %>
  
  <div class="row">
    <div class="small-6 large-centered columns">
      <div class="centering">
        <h2>Make A Payment To</h2>
        <h2>- <%= @event.name.upcase %> - </h2>
      </div>
      <%= form.label :amount %>
      <%= form.text_field :amount %>
      
      <%= form.label :user_id, "Please select a user" %>
      <%= form.collection_select(:user_id, User.all, :id, :name) %>
      <br>
      <%= form.submit 'Submit' %>
    </div>
  </div>
<% end %>

